{{ define "main" }}

<div class="py-14">

	<header class="not-prose mb-8">
		<h1 class="text-4xl font-bold leading-normal">{{ .Title }}</h1>
		{{- with .Params.description }}
		<p class="mt-4 text-lg text-zinc-600">{{ . }}</p>
		{{- end }}

		<div id="writer" class="mt-6 flex items-center space-x-4">
			{{- $author := .Site.Params.author -}}
			{{- $authorName := "" -}}
			{{- $authorAvatar := "" -}}
			{{- with $author }}
				{{- $authorName = .name -}}
				{{- $authorAvatar = .avatar -}}
			{{- end }}

			{{- if $authorAvatar }}
			<img class="w-12 h-12 bg-black rounded-full" src="{{ $authorAvatar | absURL }}" alt="{{ $authorName }} avatar">
			{{- end }}
			
			<ul class="flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto">
				{{- if $authorName }}
				<li class="font-semibold my-2">{{ $authorName }}</li>
				{{- end }}
				<li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
					{{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
					{{- $dateHuman := .Date | time.Format ":date_long" -}}
					<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
				</li>
				<li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
					{{ .ReadingTime }} min read
				</li>
			</ul>
		</div>
	</header>

	{{- with .Params.image }}
	<div class="mb-14">
		<img class="rounded-3xl" src="{{ . | absURL }}" alt="{{ $.Title }}">
	</div>
	{{- end }}


	<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

		<article class="md:col-span-2 prose lg:prose-lg">

		<div id="content" class="prose lg:prose-lg">

			{{- .Content -}}
			
		</div>

		</article>

		<aside class="md:col-span-1">

			{{- partial "content/aside.html" . -}}
		
		</aside>

	</div>

</div>

{{ end }}
